.row {
	margin: 0;
	padding: 0;
}

#login_page {
	padding: 0px;
	width: 100%;
	height: 950px;
	background: url(../img/dl_bj.gif) no-repeat center;
}

#login_page>h1 {
	font-size: 3em;
	color: #666;
	margin-top: 150px;
	text-align: center;
}

#login_page form {
	position: relative;
	top: 18%;
	left: 48%;
	font-size: 0.8em;
	color: #999;
}

#login_page>span {
	position: absolute;
	top: 75%;
	left: 43%;
	font-size: 0.8em;
	color: #999;
}

.pagination li>a {
	color: #666 !important;
}