body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td {
	font-family: "Microsoft YaHei", Arial, "微软雅黑";
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 14px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
}

.wrapper-content {
	padding: 20px 10px 40px;
}

.wrapper-content>h3 {
	font-weight: 500;
	padding-left: 10px;
	border-left: 2px solid #88B7E0;
}

.right_box {
	margin-top: 15px;
	border-top: 1px dotted #666;
	padding: 15px 0;
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif !important;
	color: #333;
	font-weight: 700;
}

.ibox-content {
	clear: both;
}

.form-group label {
	text-align: left !important;
}

.form-control {
	margin-left: -50px;
}

#ifr {
	position: fixed;
	right: -780px;
	top: 0;
	z-index: 90;
	box-shadow: 10px, 10px, 5px, #ddd;
	z-index: 2000;
}
.table_bot{
	display:none;
}
/******************/
.tab_list{
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	
}
.tab_box{
	overflow: hidden;
	display: inline-block;
}
.tab_list .search_inp{
	display: inline-block;
	float: right;
}
.tab_box,.tab_box>li{
	margin:0;
	padding: 0;
	list-style: none;
}
.tab_box>li{
	padding:10px 15px;
	float:left;
	cursor: pointer;
}
.tab_box>li.select_tab{
	border-bottom: 3px solid #09c;
}
.tab_content{
	padding:10px 15px;
}
.tab_content>div{
	display: none;
}
.tab_content>div.active{
	display: block;
}
